.DS_Store
/var

# Rust
/target
.cargo/
/.idea

# Nix
.data
flake.lock

# Cargo
.cargo/registry

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Direnv
.envrc
.direnv

# Environment variables
.env

# LLMs
.claude/
CLAUDE.md
